{% comment %}
  Awards: 左侧时间不变，右侧只显示一行介绍（summary 或 title）
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% capture start_date %}
          {% if entry.date %}{{ entry.date }}{% endif %}
        {% endcapture %}

        {% if start_date != '' %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{- start_date | split: '-' | slice: 0, 1 | join: '' -}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% assign line = entry.summary | default: entry.title %}
            {% if entry.url and line %}
              <p class="ml-1 ml-md-4 mb-0"><a href="{{ entry.url }}">{{ line | markdownify | remove: '<p>' | remove: '</p>' }}</a></p>
            {% elsif line %}
              <p class="ml-1 ml-md-4 mb-0">{{ line | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            {% assign line = entry.summary | default: entry.title %}
            {% if entry.url and line %}
              <p class="ml-1 ml-md-4 mb-0"><a href="{{ entry.url }}">{{ line | markdownify | remove: '<p>' | remove: '</p>' }}</a></p>
            {% elsif line %}
              <p class="ml-1 ml-md-4 mb-0">{{ line | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
