{% comment %}
  Unified publications entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% capture pub_date %}
          {% if entry.releaseDate %}{{ entry.releaseDate }}{% elsif entry.date %}{{ entry.date }}{% endif %}
        {% endcapture %}

        {% if pub_date != '' %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{- pub_date | split: '-' | slice: 0, 1 | join: '' -}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4" style="font-size: 1.08rem">
                <a href="{{ entry.url }}">{{ entry.title | default: entry.name }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4" style="font-size: 1.08rem">{{ entry.title }}</h6>
            {% endif %}

            {% if entry.authors and entry.authors.size > 0 %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.85rem">
                {{ entry.authors | join: ", " | replace: "*, ", "&#42;, " | replace: "Xuanwei Liu", "**Xuanwei Liu**" | markdownify | remove: '<p>' | remove: '</p>' }}
              </h6>
            {% endif %}

            {% if entry.publisher or pub_date != '' %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
                <em>{% if entry.publisher %}{{ entry.publisher }}{% endif %}{% if entry.publisher and pub_date != '' %} ({{ pub_date | split: '-' | first }}){% elsif pub_date != '' %}{{ pub_date | split: '-' | first }}{% endif %}</em>
              </h6>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4" style="font-size: 0.9rem">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4" style="font-size: 1.08rem">
                <a href="{{ entry.url }}">{{ entry.title | default: entry.name }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4" style="font-size: 1.08rem">{{ entry.title }}</h6>
            {% endif %}

            {% if entry.authors and entry.authors.size > 0 %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.85rem">
                {{ entry.authors | join: ", " | replace: "*, ", "&#42;, " | replace: "Xuanwei Liu", "**Xuanwei Liu**" | markdownify | remove: '<p>' | remove: '</p>' }}
              </h6>
            {% endif %}

            {% if entry.publisher or pub_date != '' %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
                <em>{% if entry.publisher %}{{ entry.publisher }}{% endif %}{% if entry.publisher and pub_date != '' %} ({{ pub_date | split: '-' | first }}){% elsif pub_date != '' %}{{ pub_date | split: '-' | first }}{% endif %}</em>
              </h6>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4" style="font-size: 0.9rem">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
